{% extends 'layouts/main.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="chatwindow">
    <h2 >Penguin Coders Chat</h2>
    <h2>Room : {{session['room']}}</h2><br>
    <textarea id="chat" cols="70" rows="10" placeholder="No messages yet. Start one..."></textarea><br /><br />
    <input type="text" id="text" size="60" placeholder="Enter your message here" />
    <button type="button" id="send" class="btn btn-success">SEND</button><br /><br />
    <button type="button" class="btn btn-danger" onclick=leave_room()>Leave this Chat</button>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.3/paper-full.min.js"></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
    var socket;
    $(document).ready(function(){
        socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
        socket.on('connect', function() {
            socket.emit('join', {});
        });
        socket.on('status', function(data) {
            $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });
        socket.on('message', function(data) {
            $('#chat').val($('#chat').val() + data.msg + '\n');
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });
        $('#send').click(function(e) {
            let text = $('#text').val();
            $('#text').val('');
            socket.emit('text', {msg: text});
        });
    });
    function leave_room() {
        socket.emit('left', {}, function() {
            socket.disconnect();
            // go back to the login page
            window.location.href = "{{ url_for('index') }}";
        });
    }
</script>
{% endblock %}