<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.clapback">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClapBack">
        <service
            android:name=".MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="Settings" />
        <activity
            android:name=".Settings"/>
        <activity
            android:name=".BlockedUsersPage"/>
        <activity
            android:name=".DeleteAccount" />
        <activity
            android:name=".Time"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".EditMainProfile"
            android:exported="true" />
        <activity
            android:name=".EditPassword"
            android:exported="true" />
        <activity
            android:name=".EditEmail"
            android:exported="true" />
        <activity
            android:name=".ProfilePic"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".ProfilePage"
            android:exported="true" />
        <activity
            android:name=".WalkThrough"
            android:exported="false" />
        <activity
            android:name=".FriendRequest"
            android:exported="true" />
        <activity
            android:name=".OtherUserProfile"
            android:exported="true" />
        <activity
            android:name=".Report"
            android:exported="true" />
        <activity
            android:name=".CustomizeTheme"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>